* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
   
}

img {
   
    width: 50%;
    height: auto;

}

:root {
    --header-height: 4.5rem;

    /* colors */
    --hue: 552;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: white;
    --text-color: hsl(0, 0%, 0%);
    --text-color-light: hsl(0, 0%, 1%);
    --body-color: hsl(19, 39%, 62%);    
    --text-align: center;

    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
    --font: sans-serif;
}

/********************************* BASE **********************************/

body {
    font: 400 1rem var(--font);
    color: var(--text-color);
   text-align: center;
   background: linear-gradient(to bottom, rgb(76, 125, 231), white);
}

h1 {
    margin-top: 20px;
    padding-top: 20px;
}



.title {
    font: 700 var(--title-font-size) var(--font);
    color: var(--title-color);
}